@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-green:#292b2c;
}
select{
    outline: none;
    background: none;
    border: none;
    color: white;
}
option{
    outline: none;
    background-color: rgba(54, 54, 54, 0.1);
    color: rgb(0, 0, 0);
}
body{
    overflow-x: hidden;
    text-align: center;
    color: rgb(134, 134, 134);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}
i{
    z-index: 2;
}
h1,h2{
    font-weight:500;
}
h2{
    font-size: 1.3rem;
}
.red{
    color:rgb(255, 0, 0);
}
p{margin: 1rem;text-align: center;}
ul{
    list-style: none;
    align-items: left;
    justify-content: left;
}
li{ 
    text-align:left;
    font-size: 1rem;
    padding: 0.6rem;
}
button{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
img{
    width:240px;
}
a{
    color: rgb(139, 139, 139);
    text-decoration: none;
}
i{ 
    font-size: 1rem;
    color: white;
}
.navbar{
    z-index:3;
}
.navbar-brand{
    font-family: 'Chango',cursive;
}


.showcase-bottom{
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    position: relative;
    z-index: 1;
    height: 80vh;
    background-image: url("./showcasebottom.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}
.showcase-bottom::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation-name:openingafter ;
    animation-duration: 2s;
    background: rgba(0, 0, 0, 0.6);
}
.showcase-bottom h2{
    color: rgb(255, 189, 113);
    transition-duration: 0.5s;
    z-index: 2;
    padding: 2rem;
    font-weight: 100;
    font-family: 'Noto Sans JP', sans-serif;
}
.showcase-bottom p{
    transition:all linear 2s;
    z-index: 2;
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(211, 211, 211);
}
.showcase-bottom h1{
    z-index: 2;
    transition-duration:1s;
    margin-bottom: 2rem;
    color:white;
    font-family: 'Audiowide','Cursive';
    font-size: 2rem;
}
.showcase-bottom button{
    z-index: 2;
}
.showcase-bottom a{
    z-index: 2;
}
#about{
    align-items: center;
    justify-content: space-around;
    display: flex;
    transition: 1s ease-in-out;
    flex-flow:row;
    flex-wrap: wrap;
    margin:5rem 1rem;
}
#about h1{
    color: rgb(255, 13, 13);
    font-weight: 500;
    margin: 0.6rem;
    border-bottom: rgb(255, 13, 13) 0.1rem solid;
    display: inline;
}
#about h2{
    margin: 1rem;
    font-family: serif;
}
.info{
    position:relative;
    z-index: 2;
    max-width:400px;
    width: 100%;
}
.info::after{
    content: '';
    z-index: 1;
    border-radius: 1rem;
    position: absolute;
    top: 6rem;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: ;
    transform: rotate(5deg);
    background: var(--primary-green);
}
.info h1{
    z-index: 2;
    position:relative;
}
.info p{
    position:relative;
    z-index:2;
    color: rgb(59, 59, 59);
    background: rgb(255, 255, 255);
}
#seephoto img{
    box-shadow: rgb(153, 153, 153) 0px 1px 4px,rgb(145, 145, 145) 2px 2px 18px;
    margin: 2rem 0;
    border-radius: 200px;
}

#about p{
    white-space: normal;
    border-radius: 10px;
    padding: 1rem;
}
#skills{
    display:grid;
    align-self: center;
    grid-template-columns:1fr 2fr;
    align-items: center;
    width:auto;
    margin: auto;
    height: auto;
    padding: 1.6rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: white;
    box-shadow: rgb(187, 187, 187) 0px 1px 16px,rgb(180, 180, 180) 0px 1px 18px;
}
#sk-h{
    border-radius: 5px;
    color: red;
    display: inline;
    font-weight: 500;
    width:auto;

}
.sk-meter p{
    display:flex;
    flex-direction:column;
    color: white;
    border-radius: 1rem 0 0 1rem;
    font-weight: 500;
    margin:1.2rem 1rem;
}
.coding-skills{
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;   
}
.skills p{
    align-self: flex-start;
}
.skills h2{
    text-align: left;
    margin:0.2rem 0;
    padding:0.2rem;
    font-weight: 500;
    font-family: 'Archivo', sans-serif;
}
.skills>div{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.html h2{
    color: orangered;
    
}
.html-m{
    box-shadow: rgba(255, 68, 0, 0.459) 0px 2px 6px,rgba(255, 68, 0, 0.603) 0px 2px 18px;
    background: orangered;
    width: 95%;
}

.css h2{
    color: rgb(74, 159, 255);
}
.css-m{
    display: block;
    background: rgb(74, 159, 255);
    box-shadow: rgba(74,159, 255, 0.459) 0px 2px 6px,rgba(74, 159, 255, 0.603) 0px 2px 18px;
    width: 80%;
}
.js h2{
    color: rgb(214, 200, 0);
}
.js-m{
    display: block;
    background:  rgb(214, 200, 0);
    box-shadow: rgba(214,200, 0, 0.459) 0px 2px 6px,rgba(214, 200, 0, 0.603) 0px 2px 18px;
    width: 30%;
}
.python h2{
    color: rgb(0, 204, 0);
}
.python-m{
    display: block;
    background: rgb(0, 204, 0);
    box-shadow: rgba(0, 204, 0, 0.459) 0px 2px 6px,rgba(0, 204, 0, 0.603) 0px 2px 18px;
    width: 15%;
}

.work{
    white-space:pre-wrap;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.work i{
    font-size: 6rem;
    color: rgb(0, 175, 175);
    margin: 1rem auto;
    text-align: center;
}
.work h1{
    color: red;
    padding: 1rem;
}
.work p {
    max-width: 450px;
    width: 100%;
    text-align: center;
    color: rgb(100, 100, 100);
}
#contact{
    border-radius: 70px 70px 0px 0px ;
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    background: var(--primary-green);
}
footer table{
    align-items: center;
    width: 20%;
    padding: 1rem;
    font-size:0.7rem;
}
footer th{
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 0.2rem 0.5rem;
}
footer td{
    color: rgb(180, 180, 180);
    text-align:left;
}
footer a{
    color:rgb(180, 180, 180);
}
.fa-facebook{
    position: relative;
    z-index: 2;
    color: rgb(49, 172, 255);
}
.fa-instagram{
    position: relative;
    z-index: 2;
    color: rgb(255, 0, 128);
}
/* Desktop*/
@media only screen and (min-width:790px){
    .main-nav{
        display: flex;
        flex-direction: row;
        transform: none;
    }
    .showcase-bottom{
        height: 80vh;
    }
    .showcase-top button{
        display:none;
    }
    select{
        display: none;
    }
    #check{
        display: none;
    }
    label #menubtn,label #cancel{
        display: none;
    }
    .sidebar{
        display: flex;
        flex-direction:column;
        z-index: 3;
        width: 100%;
        transform: none;
        border-radius: 0;
        height: 8vh;
        left:0;
        background: white;
        box-shadow: #0000009a 0px 1px 19px;
    }
    .sidebar header{
        display: none;
    }
    .sidebar ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        top: -2.8rem;
    }
    .sidebar a{
        color: rgb(0, 0, 0);
        margin:0 2rem ;
        text-align: center;
    }
    .sidebar a:hover{
        opacity: 0.6;
        transition-duration: 0.4s;
    }
    
}
